#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  width: 100%;
  padding: 20px 0;
}

.navbar {
  display: flex;
  flex-direction: row; /* Change flex-direction to row for a horizontal layout */
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 100%;
  padding: 20px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block; /* Add this line to display list items inline */
  margin-right: 20px; /* Add margin to the right of each list item */
}

.navbar li:last-child {
  margin-right: 0; /* Remove the margin for the last list item */
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar a:hover {
  color: #ccc;
}
